body
{
    background-color: #2b2b2e;
    font-family: monospace;
    margin: 0;
    color: #efefef;
}

.topnav
{
    width: 100%;
    height: 60px;
}

#categs
{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.cat1
{
    padding: 0 6px;
    position: relative;
    opacity: 0.2;
    display: inline-block;
}

.cat2
{
    padding: 0 6px;
    position: relative;
    opacity: 0.2;
    display: inline-block;
}

.cat3
{
    padding: 0 6px;
    position: relative;
    opacity: 0.2;
    display: inline-block;
}

.cat4
{
    padding: 0 6px;
    position: relative;
    opacity: 0.2;
    display: inline-block;
}

#categs a
{
    color: #efefef;
    text-decoration: none;
}

footer
{
    width: 100%;
    opacity: 0.2;
    left: 0;
    bottom: 0;
}

#footertext
{
    text-align: center;
    margin: 0;

}

.blank
{
    width: 100%;
}

h1.title
{
    margin: 28px 0;
    margin-left: 12px;
    text-decoration: underline 3px #4bb355;
    display: inline-block;
}

.titledot
{
    color: #4bb355;
    display: inline-block;
    margin: 0;
    text-align: left;
}

.margin
{
    margin: 0 12px;
    border-top: 2px lightgray dashed;
    opacity: 0.1;
}

.tcontent
{
    font-size: 16px;
    padding: 0 18px;
}

.contentdesc
{
    margin: 6px 0;
}

.example
{
    font-size: 16px;
    padding: 0 12px;
    text-decoration: 2px underline #4bb355;
}

.codeout
{
    width: fit-content;
    border: 2px solid gray;
}

.cat1:hover
{
    transition: 0.5s ease;
    opacity: 1;
}

.cat2:hover
{
    transition: 0.5s ease;
    opacity: 1;
}

.cat3:hover
{
    transition: 0.5s ease;
    opacity: 1;
}

.cat4:hover
{
    transition: 0.5s ease;
    opacity: 1;
}

.redfirst
{
    border-left: 3px solid red;
    color: red;
    font-weight: 700;
}

.greenfirst
{
    border-left: 3px solid #5dd566;
    color: #5cc466;
    font-weight: 700;
}

.green
{
    color: #5cc466;
    font-weight: 700;
}

.red
{
    color: red;
    font-weight: 700;
}

























.cat1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .cat1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .cat2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .cat2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .cat3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .cat3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .cat4::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .cat4:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }